In [1]:
import pandas as pd

data = pd.read_csv("travel.csv")

In [2]:
print(data)

    Month Destination  Travelers  Revenue
0     Jan       Paris       1000   150000
1     Jan        Rome        800   120000
2     Feb       Paris       1100   165000
3     Feb        Rome        900   135000
4     Mar       Paris       1200   180000
..    ...         ...        ...      ...
115   Oct      Sydney       1400   210000
116   Nov       Tokyo       1100   165000
117   Nov      Sydney       1450   217500
118   Dec       Tokyo       1050   157500
119   Dec      Sydney       1500   225000

[120 rows x 4 columns]